# Data Imports and Data Cleaning

In [1]:
# importing packages
import numpy as np
import pandas as pd

# data found: https://www.consumerfinance.gov/data-research/hmda/historic-data/ (year 2017)
# corresponding code information: https://files.consumerfinance.gov/hmda-historic-data-dictionaries/lar_record_codes.pdf

# reading file
df = pd.read_csv('data.csv', dtype = {'applicant_race_name_3': 'string', 
'applicant_race_name_4': 'string', 
'applicant_race_name_5': 'string', 
'co_applicant_race_name_3': 'string', 
'co_applicant_race_name_4': 'string', 
'co_applicant_race_name_5': 'string'})

In [2]:
df.head()

,as_of_year,respondent_id,agency_name,agency_abbr,agency_code,loan_type_name,loan_type,property_type_name,property_type,loan_purpose_name,...,edit_status_name,edit_status,sequence_number,population,minority_population,hud_median_family_income,tract_to_msamd_income,number_of_owner_occupied_units,number_of_1_to_4_family_units,application_date_indicator
0,2017,0000068601,National Credit Union Administration,NCUA,5,Conventional,1,One-to-four family dwelling (other than manufa...,1,Home purchase,...,NaN,NaN,NaN,4272.0,2.790000,55800.0,99.970001,1609.0,2271.0,NaN
1,2017,0000063194,National Credit Union Administration,NCUA,5,FHA-insured,2,One-to-four family dwelling (other than manufa...,1,Home purchase,...,NaN,NaN,NaN,5451.0,10.790000,56800.0,128.639999,1601.0,1814.0,NaN
2,2017,0000451965,Consumer Financial Protection Bureau,CFPB,9,Conventional,1,One-to-four family dwelling (other than manufa...,1,Home purchase,...,NaN,NaN,NaN,3372.0,33.189999,97400.0,141.740005,592.0,1105.0,NaN
3,2017,41-1842999,Department of Housing and Urban Development,HUD,7,Conventional,1,One-to-four family dwelling (other than manufa...,1,Refinancing,...,NaN,NaN,NaN,12551.0,6.490000,89800.0,135.779999,3463.0,3782.0,NaN
4,2017,0000613307,Consumer Financial Protection Bureau,CFPB,9,Conventional,1,One-to-four family dwelling (other than manufa...,1,Refinancing,...,NaN,NaN,NaN,3755.0,62.639999,73700.0,132.720001,623.0,742.0,NaN

In [3]:
# drop unnecessary columns based on scan of columns and documentation from website
df = df.drop(['respondent_id','action_taken_name', 'loan_type_name','preapproval_name', 'owner_occupancy_name','county_code', 'state_code', 'loan_purpose_name','state_name',  'agency_abbr', 'agency_code', 'edit_status_name', 'edit_status', 'sequence_number', 'census_tract_number', 'application_date_indicator'], axis = 1)
df = df.drop(df.keys()[df.keys().str[-4:] == 'name'], axis = 1)

In [4]:
# calculating percent missing to see what columns to drop for insufficient info (greater than 30%)
percent_missing = (df.isnull().sum() * 100 / len(df))
percent_missing = percent_missing.sort_values(ascending = False)
percent_missing[percent_missing > 30]

denial_reason_3             100.000000
denial_reason_name_3        100.000000
denial_reason_2             100.000000
denial_reason_name_2        100.000000
denial_reason_1             100.000000
denial_reason_name_1        100.000000
co_applicant_race_5          99.997778
co_applicant_race_name_5     99.997778
co_applicant_race_name_4     99.995774
co_applicant_race_4          99.995774
applicant_race_5             99.993970
applicant_race_name_5        99.993970
applicant_race_name_4        99.990612
applicant_race_4             99.990612
co_applicant_race_name_3     99.984382
co_applicant_race_3          99.984382
applicant_race_name_3        99.954632
applicant_race_3             99.954632
co_applicant_race_name_2     99.760735
co_applicant_race_2          99.760735
applicant_race_2             99.364804
applicant_race_name_2        99.364804
rate_spread                  93.697620
dtype: float64

In [5]:
# dropping these columns
df = df.drop(percent_missing[percent_missing > 30].index, axis = 1)

In [6]:
# dropping rows that have na values
df = df.dropna()

In [7]:
# because all years are 2017, drop first column
df = df.drop('as_of_year', axis = 1)

In [8]:
# because we are filtering comparing men to women, we drop all columns where sex != 1 or 2
df = df[(df['applicant_sex'] == 1) | (df['applicant_sex'] == 2)]

In [9]:
# save cleaned dataset
df.to_csv('cleaned_data.csv')

In [11]:
df.head()

,loan_type,property_type,loan_purpose,owner_occupancy,loan_amount_000s,preapproval,action_taken,msamd,state_abbr,applicant_ethnicity,...,applicant_income_000s,purchaser_type,hoepa_status,lien_status,population,minority_population,hud_median_family_income,tract_to_msamd_income,number_of_owner_occupied_units,number_of_1_to_4_family_units
1,2,1,1,1,196.0,1,1,38540.0,ID,2,...,73.0,9,2,1,5451.0,10.790000,56800.0,128.639999,1601.0,1814.0
3,1,1,3,1,199.0,3,1,33460.0,MN,1,...,119.0,9,2,1,12551.0,6.490000,89800.0,135.779999,3463.0,3782.0
5,1,1,3,1,170.0,3,1,21340.0,TX,1,...,81.0,1,2,1,6225.0,62.860001,45300.0,279.720001,1575.0,2041.0
6,2,1,1,1,157.0,3,1,28140.0,KS,2,...,42.0,0,2,1,3887.0,59.509998,74600.0,81.470001,1077.0,1468.0
8,1,1,3,1,62.0,3,1,27260.0,FL,2,...,50.0,0,2,1,5589.0,30.150000,64300.0,134.110001,1378.0,1780.0